.container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #fafaf5;
  padding: 8px;
  border-radius: 8px;
}

.video {
  object-fit: contain;
  background: #fafaf5;
}

.staticLogo {
  /* Used when animated=false */
}
