.container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.video {
  object-fit: contain;
  background: transparent;
}

.staticLogo {
  /* Used when animated=false */
}
